img {
    -webkit-animation: alternate;
    -webkit-animation-delay: inherit;
    -webkit-background-clip: border-box;
    -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-animation-iteration-count: initial;
}